body {
    text-align: center;
    background-color: rgb(46, 45, 45);
}

h1 {
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 5px 0px 7px #5f0606;
    font-size: 60px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
}

.jogo{
    border-style: solid;
    border-radius: 3px;
    padding: 1px;
    background-color: black;
    margin: auto;
    width:fit-content;
}

.caixa {
    font-family: "Permanent Marker", cursive;
    height: 100px;
    width: 100px;
    font-size: 80px;
    cursor: pointer;
    border-style: solid;
    border-radius: 0px;
    margin: 1px;
    contain: layout;
    line-height: 0;
}

#reiniciar {
    margin: 5px;
    cursor: pointer;
}

#gameplaylabel {
    color: white;
}
